<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('head'); %>
  <body>


     
<%- include('navbar'); %>

<!--MAIN -->
<div class="container">
  <div class="row" style="height: 150px;"></div>
  <div class="row justify-content-center">
    <form method="POST" action="/trajet" class="form-inline">
      <div class="form-group mb-2">
        <input required type="text" class="form-control" name="departureFromFront" placeholder="Au départ de : Paris, Marseille...">
      </div>
      <div class="form-group mb-2 mr-0 ml-3">
        <input required type="text" class="form-control" name="arrivalFromFront" placeholder="Destination: Lille, Nantes...">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input required type="date" class="form-control" name="departureDateFromFront">
      </div>
      <button type="submit" class="btn btn-primary mb-2 px-4">Go</button>
    </form>

  </div>
      
  <div class="row justify-content-center mt-4">
    <img src="/images/landmark.png" width="200" height="200" class="logo"  alt="">
  </div>
     
      
      

          

  <%- include('footer'); %>

     

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>