body {
  background: linear-gradient(to top, rgb(46,128,179), #C5DEE9);
  height: 100vh;

}

.btn {
  background-color: red
}


.titleForm {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
}

.navbar-text {
  margin-left: 5px;
  margin-right: 5px;
}

.logo {
  margin-right: auto;
  margin-left: auto;
}

h1 {
  color: white;
}

.table {
  background-color: white;
}