body {
  background-color: rgba(23, 138, 214, 0.65);
}

.btn {
  background-color: red
}


.titleForm {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
}

.navbar-text {
  margin-left: 5px;
  margin-right: 5px;
}

.logo {
  margin-right: auto;
  margin-left: auto;
}

h1 {
  color: white;
}