body {
  background-color: rgba(23, 138, 214, 0.65);
}

.btn {
  background-color: red
}

.titleForm {
  color: white;
}

/* #main {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.formArea {
  margin: 15px;
} */
